.App {
  text-align: center;
  background-color: #317873;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
}
.container {
  border: 2px solid black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0,5fr 0,5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "calcDisplay calcDisplay calcDisplay calcDisplay"
  "display display display display"
  "AC AC divide multiply"
  "seven eight nine minus"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
}
.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: DimGray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
}
.pad:hover{
  border: 1px solid white;
  color: black;
}
.AC {
  grid-area: AC;
  background-color: DarkRed;
}
.calcDisplay {
  text-align: right;
  grid-area: calcDisplay;
  background-color: black;
  color: orange;
  padding-right: 5px;
  border: 1px solid black;
  font-size: 20px;
  min-height: 27px; 
}
.display {
  text-align: right;
  grid-area: display;
  background-color: black;
  color: white;
  padding-right: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.divide {
  background-color: silver;
}
.multiply {
  background-color: silver;
}
.subtract {
  background-color: silver;
  font-size: 25px;
}
.add {
  background-color: silver;
  font-size: 25px;
}
.zero {
  grid-area: zero;
}
.equals {
  grid-area: equals;
  background-color: SteelBlue;
}

